test/Dbpia.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <start>
        <element name="root">
            <element name="paramdata">
                <element name="keyword">
                    <element name="searchall">
                        <data type="NCName"/>
                    </element>
                </element>
                <element name="totalcount">
                    <data type="integer"/>
                </element>
                <element name="pagecount">
                    <data type="integer"/>
                </element>
                <element name="pagenumber">
                    <data type="integer"/>
                </element>
                <element name="category">
                    <data type="integer"/>
                </element>
                <element name="sort">
                    <data type="integer"/>
                </element>
                <ref name="order"/>
            </element>
            <element name="result">
                <element name="items">
                    <element name="item">
                        <element name="ctype">
                            <data type="NCName"/>
                        </element>
                        <element name="title">
                            <oneOrMore>
                                <choice>
                                    <text/>
                                    <ref name="span"/>
                                </choice>
                            </oneOrMore>
                        </element>
                        <element name="authors">
                            <element name="author">
                                <ref name="order"/>
                                <ref name="name"/>
                            </element>
                        </element>
                        <element name="publisher">
                            <ref name="url"/>
                            <ref name="name"/>
                        </element>
                        <element name="publication">
                            <ref name="url"/>
                            <ref name="name"/>
                            <element name="issn">
                                <data type="NMTOKEN"/>
                            </element>
                            <element name="isbn10">
                                <empty/>
                            </element>
                            <element name="isbn13">
                                <empty/>
                            </element>
                        </element>
                        <element name="issue">
                            <ref name="name"/>
                            <element name="num">
                                <data type="integer"/>
                            </element>
                            <element name="yymm">
                                <data type="decimal"/>
                            </element>
                        </element>
                        <element name="pages">
                            <text/>
                        </element>
                        <element name="free_yn">
                            <data type="NCName"/>
                        </element>
                        <element name="preview_yn">
                            <data type="NCName"/>
                        </element>
                        <element name="preview">
                            <data type="anyURI"/>
                        </element>
                        <element name="coverimg">
                            <empty/>
                        </element>
                        <element name="link_url">
                            <data type="anyURI"/>
                        </element>
                        <element name="link_api">
                            <data type="anyURI"/>
                        </element>
                    </element>
                </element>
            </element>
        </element>
    </start>
    <define name="order">
        <element name="order">
            <data type="NMTOKEN"/>
        </element>
    </define>
    <define name="span">
        <element name="span">
            <attribute name="class">
                <data type="NCName"/>
            </attribute>
            <data type="NCName"/>
        </element>
    </define>
    <define name="name">
        <element name="name">
            <oneOrMore>
                <choice>
                    <text/>
                    <ref name="span"/>
                </choice>
            </oneOrMore>
        </element>
    </define>
    <define name="url">
        <element name="url">
            <data type="anyURI"/>
        </element>
    </define>
</grammar>
